{% extends 'salesman/base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} bg-{{ message.tags }}">
                <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">

        <div class="col-sm-8 my-4">
            <div class="card card-accent-info" id="task-details">
                <div class="card-header">Task Details</div>

                <div class="card-body">
                    <div class="form-group">
                        <label>Subject *</label>
                        <input type="text" class="form-control" name="task"
                               id="task">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Status</label>

                            <select class="form-control" id="task-status">
                                <option value="">----select----</option>
                                <option value='0'>Pending</option>
                                <option value='1'>Completed</option>
                                <option value='2'>Failed</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label>Status</label>
                            <select class="form-control" id="priority">
                                <option value="0">Low</option>
                                <option value='1'>Medium</option>
                                <option value='2'>High</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Due Date *</label>
                        <input type="date" class="form-control" name="due_date"
                               id="due-date">
                    </div>

                    <div class="form-group">
                        <label>Task Description</label>
                        <textarea rows="5" class="form-control"
                                  id="task-description"
                                  name="task_desc"></textarea>
                    </div>

                    <button type="submit" class="form-control btn btn-primary"
                            id="create-task">
                        Create Task
                    </button>
                </div>

            </div>

        </div>
        <div class="col-sm-4 my-4">
            <div class="card card-accent-danger" id="details">

                <div class="card-header">
                    <strong>Add Contact</strong>
                </div>
                <div class="card-body">
                    {% if contact_info %}
                        <label id="selector-label">Select Contact</label>
                        <select class="form-control" id="contact-selector">
                            <option value="">----select----</option>
                            {% for contact in contacts %}
                                <option value={{ contact.phone }}>{{ contact.get_full_name }}</option>
                            {% endfor %}
                        </select>

                        <table class="table table-borderless"
                               id="contact-table">
                            <tr>
                                <th>Name</th>
                                <td>:
                                    <span>{{ contact_info.get_full_name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>company</th>
                                <td>: <span>{{ contact_info.company }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Phone</th>

                                <td>: <span
                                        id="contact-phone">{{ contact_info.phone }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>: <span>{{ contact_info.get_address }}
                                </span></td>
                            </tr>

                        </table>

                    {% else %}

                        <label id="selector-label">Select Contact</label>
                        <select class="form-control" id="contact-selector">
                            <option value="">----select----</option>
                            {% for contact in contacts %}
                                <option value={{ contact.phone }}>{{ contact.get_full_name }}</option>
                            {% endfor %}
                        </select>
                        <table class="table table-borderless"
                               id="contact-table"></table>
                    {% endif %}

                </div>

                <div class="card-footer">
                    <button type="submit" id="select-contact"
                            class="btn btn-square btn-md btn-primary mr-2">
                        <i class="fa fa-dot-circle-o"></i>
                        Select
                    </button>

                    <button type="reset" id="reset-contact"
                            class="btn btn-square btn-md btn-danger ml-2">
                        <i class="fa fa-ban"></i>
                        Reset
                    </button>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>

        {% if contact_info %}
            $('#selector-label').fadeOut();
            $('#contact-selector').fadeOut();
        {% endif %}
        $('#select-contact').click(function () {
            var contact_phone = $('#contact-selector').val();
            if (contact_phone === '') {
                showFlashMessage('Please select a customer', 'danger');
            } else {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'customer:add-task' %}",
                    data: {
                        'contact_phone': contact_phone
                    },
                    beforeSend: function () {
                        $('#loading').fadeIn();
                    },
                    success: function (data) {
                        var table = '<tr><th>Name</th><td>: <span>' + data.name +
                            '</span></td></tr><tr><th>company</th><td>: <span>' +
                            data.company + '</span></td></tr><tr><th>Phone</th>' +
                            '<td>: <span id="contact-phone">' + contact_phone + '</span></td></tr>' +
                            '<tr><th>Address</th><td>: <span>' + data.address +
                            '</span></td></tr>';
                        $('#contact-selector').fadeOut();
                        $('#selector-label').fadeOut();
                        $('#contact-table').append(table);
                        $('#select-contact').fadeOut();
                        $('#loading').fadeOut();
                    },
                    error: function () {
                        $('#loading').fadeOut();
                    }
                })
            }
        });

        $('#reset-contact').click(function () {
            $('#contact-table').empty();
            $('#selector-label').fadeIn();
            $('#select-contact').fadeIn();

            $('#contact-selector').fadeIn();
        });

        $('#create-task').click(function () {

            var task = $('#task').val();
            var due_date = $('#due-date').val();
            var task_description = $('#task-description').val();
            var task_status = $('#task-status').val();
            var priority = $('#priority').val();

            if ($('#contact-table').is(':empty')) {
                showFlashMessage('Please select the contact first', 'danger');
            } else if (task === '' || due_date === '') {
                showFlashMessage('Fill the required fields', 'danger');
            } else {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'customer:add-task' %}",
                    data: {
                        'task': task,
                        'due_date': due_date,
                        'task_description': task_description,
                        'task_status': task_status,
                        'priority': priority,
                        'phone': $('#contact-phone').text(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',

                    },
                    beforeSend: function () {
                        $('#loading').fadeIn();
                    },
                    success: function (data) {
                        if (data.message === 'Task successfully created') {
                            document.location = "/customer/task/" + data.id;
                        }
                        $('#loading').fadeOut();
                    },
                    error: function () {
                        $('#loading').fadeOut();
                    }
                });
            }
        });
    </script>

{% endblock %}






