<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
    <style>
         body {
          {#font-family: "Roboto", Helvetica, Arial, sans-serif;#}
          {#font-weight: 100;#}
          {#font-size: 12px;#}
          line-height: 30px;
          color: #777;
          background: #f5f3db;
        }
    </style>

</head>

<body>
<div class="container">


{% block content %}

{% endblock %}

</div>



</body>
</html>

