{% extends 'salesman/base.html' %}

{% block content %}

{#    <nav bar>#}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CRM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav">
        <li><a href="{% url 'salesman:dashboard' %}">Dashboard</a></li>
        <li class="active"><a href="{% url 'salesman:customer_search' %}">Search Lead</a></li>
        <li><a href="{% url 'salesman:customer_add' %}">Create Lead</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
{#        </nav>#}

<div class="col-sm-6">

    <p class="lead"> Search by information</p>
    <form method="get">
       <div class="form-group">
            <label>First Name</label>
            <input placeholder="First name" class="form-control" name="first_name" type="text" tabindex="1">
       </div>
        <div class="form-group">
            <label>Last Name</label>
            <input placeholder="Last name" class="form-control" name="last_name" type="text" tabindex="2">
        </div>

        <div class="form-group">
            <label>Email address</label>
            <input placeholder="Email Address" class="form-control" name="email" type="email" tabindex="3">
        </div>

       <div class="form-group">
            <label>Phone Number</label>
            <input placeholder="Phone Number" class="form-control" name="phone" type="tel" tabindex="4">
        </div>

        <div class="form-group">
            <label>Company Name</label>
            <input placeholder="Company Name" class="form-control" name="company_name" type="text" tabindex="5">
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit" name="search-by-detail">search by detail</button>
    </form>
</div>


<div class="box box-danger col-sm-6">
<div class="box-body">
    <form method="get">
        <p class="lead"> Search by status</p>
         <div class="form-group">
            <label>Follow Up Task</label>
          <input placeholder="Follow Up Task" class="form-control" name="follow_up_task" type="text" tabindex="1">
        </div>

        <div class="form-group">
            <label>Stage</label>
              <select class="selectpicker form-control" name="stage" tabindex="2">
                <option value="Initial">Initial</option>
                <option value="Qualification">Qualification</option>
                <option value="Presentation">Presentation</option>
                <option value="Evaluation">Evaluation</option>
                <option value="Closing">Closing</option>
              </select>
        </div>

        <div class="form-group">
            <label>Follow Up Date(From)</label>
          <input placeholder="From" class="form-control" name="follow_up_date_from" type="date" tabindex="3">
        </div>
        <div class="form-group">
            <label>Follow Up Date(To)</label>
          <input placeholder="To" class="form-control" name="follow_up_date_to" type="date" tabindex="4">
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit" name="search-by-status">search by status</button>
    </form>
</div>
</div>



{% endblock %}