{% extends 'salesman/base.html' %}

{% load static %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} bg-{{ message.tags }}">  <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-danger">
                        <h5>Pie Chart</h5>
                    </div>
                    <div class="card-body">
                        <p>shcjashcjhjashdjas
                        sakdjkasjdkj</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}