{% extends 'salesman/base.html' %}

 {% block head %}
<style>
             @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing: antialiased;
          -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
        }



        .form-container {
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
          position: relative;
        }

        #contact input[type="text"],
        #contact input[type="email"],
        #contact input[type="tel"],
        #contact input[type="url"],
        #contact textarea,
        #contact button[type="submit"] {
          font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
        }

        #contact {
          background: #F9F9F9;
          padding: 25px;
          margin: 15px 0;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        #contact h3 {
          display: block;
          font-size: 30px;
          font-weight: 300;
          margin-bottom: 10px;
        }

        #contact h4 {
          margin: 5px 0 15px;
          display: block;
          font-size: 13px;
          font-weight: 400;
        }

        fieldset {
          border: medium none !important;
          margin: 0 0 10px;
          min-width: 100%;
          padding: 0;
          width: 100%;
        }

        #contact input[type="text"],
        #contact input[type="email"],
        #contact input[type="tel"],
        #contact input[type="url"],
        #contact textarea {
          width: 100%;
          border: 1px solid #ccc;
          background: #FFF;
          margin: 0 0 5px;
          padding: 10px;
        }

        #contact input[type="text"]:hover,
        #contact input[type="email"]:hover,
        #contact input[type="tel"]:hover,
        #contact input[type="url"]:hover,
        #contact textarea:hover {
          -webkit-transition: border-color 0.3s ease-in-out;
          -moz-transition: border-color 0.3s ease-in-out;
          transition: border-color 0.3s ease-in-out;
          border: 1px solid #aaa;
        }

        #contact textarea {
          height: 100px;
          max-width: 100%;
          resize: none;
        }

        #contact button[type="submit"] {
          cursor: pointer;
          width: 100%;
          border: none;
          background: #4CAF50;
          color: #FFF;
          margin: 0 0 5px;
          padding: 10px;
          font-size: 15px;
        }

        #contact button[type="submit"]:hover {
          background: #43A047;
          -webkit-transition: background 0.3s ease-in-out;
          -moz-transition: background 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
        }

        #contact button[type="submit"]:active {
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        }


        #contact input:focus,
        #contact textarea:focus {
          outline: 0;
          border: 1px solid #aaa;
        }

        ::-webkit-input-placeholder {
          color: #888;
        }

        :-moz-placeholder {
          color: #888;
        }

        ::-moz-placeholder {
          color: #888;
        }

        :-ms-input-placeholder {
          color: #888;
        }
        .alert{
            padding: 0px;
            margin-bottom: 0px;
            width: 370px;
            height: 40px;
        }
</style>
 {% endblock %}


{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CRM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav">
        <li><a href="{% url 'salesman:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'salesman:customer_search' %}">Search Lead</a></li>
        <li class="active"><a href="{% url 'salesman:customer_add' %}">Create Lead</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>


    <div class="form-container">
    {% if messages %}
        <div class="span col-md-6">
            {% for message in messages %}
                <div class="text-center alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}"}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

  <form id="contact" method="post"> {% csrf_token %}
    <h3>Add Customer</h3>
        <fieldset>
          <input placeholder="First name" name="first_name" type="text" tabindex="1" required autofocus>
        </fieldset>
          <fieldset>
          <input placeholder="Last name" name="last_name" type="text" tabindex="2" required autofocus>
        </fieldset>

        <fieldset>
          <input placeholder="Email Address" name="email" type="email" tabindex="3" required>
        </fieldset>
        <fieldset>
          <input placeholder="Phone Number" name="phone" type="tel" tabindex="4" required>
        </fieldset>

          <fieldset>
          <input placeholder="Company" name="company_name" type="text" tabindex="5" required>
        </fieldset>
          <fieldset>
          <input placeholder="Street" name="street" type="text" tabindex="6" required>
        </fieldset>
          <fieldset>
          <input placeholder="City" name="city" type="text" tabindex="7" required>
        </fieldset>
          <fieldset>
          <input placeholder="State" name="state" type="text" tabindex="8" required>
        </fieldset>
          <fieldset>
          <input placeholder="zipcode" name="zipcode" type="text" pattern="[0-9]{5}" tabindex="9" required>
        </fieldset>
          <fieldset>
          <input placeholder="Country" name="country" type="text" tabindex="10" required>
        </fieldset>
        <fieldset>
          <input placeholder="Web Site (optional)" name="website" type="url" tabindex="11">
        </fieldset>

      <p class="lead">Other Information</p>

        <fieldset>
          <input placeholder="Deal Size" name="deal_size" type="text" tabindex="12">
        </fieldset>
        <fieldset>
          <input placeholder="Follow Up Task" name="follow_up_task" type="text" tabindex="13">
        </fieldset>
      <fieldset>
          <select name="stage" tabindex="14">
            <option value="Initial">Initial</option>
            <option value="Qualification">Qualification</option>
            <option value="Presentation">Presentation</option>
            <option value="Evaluation">Evaluation</option>
            <option value="Closing">Closing</option>
          </select>
      </fieldset>
      <fieldset>
          <input placeholder="Follow Up Date" name="follow_up_date" type="date" tabindex="15">
      </fieldset>

        <fieldset>
          <button name="submit" type="submit" id="contact-submit">Submit</button>
        </fieldset>

  </form>
</div>

{% endblock %}


