{% extends 'salesman/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css"
          href="{% static "datatables/datatables.min.css" %}"/>
    <style>
        #task-table_filter {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} bg-{{ message.tags }}">
                <!-- singular -->
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card card-accent-danger mt-4">
        <div class="card-header">
            <i class="fa fa-tasks"></i>
            <strong>Task List</strong>
        </div>
        <div class="card-body">

            <div class="input-group form-group col-sm-6 row">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search">
                    </i></span>
                </div>
                <input type="text" class="form-control" placeholder="Search"
                       id="searchbox">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="task-table"
                           class="table table-striped table-bordered ">
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Owner</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th class="due-date">Due Date</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for task in tasks %}
                            <tr>
                                <td><a href="{% url 'customer:task' pk=task.id %}">
                                    {{ task.task }}</a>
                                </td>
                                <td>{{ task.task_owner }}</td>
                                <td>{{ task.get_task_status_display }}</td>
                                <td>{{ task.get_priority_display }}</td>
                                <td>{{ task.due_date }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
    <script>
        $.fn.dataTable.moment('MMM D, YYYY');
        var dt = $('#task-table').DataTable({
            dom: 'ftp',
            responsive: true,
            "bLengthChange": false,
            //"ordering": false,
            "pageLength": 10,
            columnDefs: [{type: 'date', targets: 4 }],
            "order": [[ 4, "desc" ]],

        });
        $("#searchbox").on("keyup search input paste cut", function () {
            dt.search($(this).val()).draw();
        });

    </script>

{% endblock %}